:root {
  --branding-color: blueviolet;
  --secondary-color: #f9f7fe;
  --text-color: #c5c5c5;
  --heading-font-family: "Marcellus", serif;
  --body-font-family: "Ubuntu", sans-serif;
}

body {
  font-family: var(--body-font-family);
}

h4 {
  font-size: 40px;
}

.logo {
  max-height: 40px;
  padding-top: 8px;
}

.nav-container {
margin-left: 5px;
}

nav {
  padding: 11px 0 0 0;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
margin-left: 15px;
line-height: 45px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  transition: all 100ms ease-in-out;
}

nav a:hover, nav li.active a {
  color: var(--branding-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 130px;
  border-radius: 10px;
}

footer .contact-box p{
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
margin: 0 20px;
background: var(--secondary-color);
padding: 10px 14px;
border-radius: 50%;
font-size: 20px;
color: var(--branding-color);
transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

h1 {
  color: var(--branding-color);
  font-family: var(--heading-font-family);
  font-size: 60px;
}

h2 {
  color: var(--branding-color);
  font-family: var(--heading-font-family);
  font-size: 43px;
}

p {
  font-size: 15px;
  line-height: 25px;
  color: var(--text-color);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 185px 0;
}

.hero p {
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: 18px;
}

.sub-headline {
  font-size: 19px;
  padding: 20px;
}

.project-description {
  padding: 120px 60px;
}

.content-container {
  padding: 80px 220px;
}

.content {
  margin: 30px;
}

.content h3 {
  font-size: 25px;
}

@media (max-width: 960px) {
  
  .project-description {
    padding: 0;
    text-align: center;
  }

  h2 {
    font-size: 35px;
  }

  h4 {
    font-size: 30px;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero h1,
  p,
  a {
    margin: 8px;
  }

  .content-container {
    padding: 60px 0 0 0;
    text-align: center;
  }

  footer .contact-box {
    padding: 30px;
  }
}

.btn-branding {
  background: var(--branding-color);
  color: white;
  font-family: var(--heading-font-family);
  border-radius: 4px;
  line-height: 20px;
  padding: 10px 20px;
}

.btn-branding-outline {
  line-height: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  color: var(--text-color);
  border: 1px solid var(--branding-color);
}

.content-container h1 {
  font-size: 40px;
}

.content-container h2 {
  font-size: 25px;
}
