:root {
  --branding-color: blueviolet;
  --secondary-color: #f9f7fe;
  --text-color: gainsboro;
  --heading-font-family: "Marcellus", serif;
  --body-font-family: "Ubuntu", sans-serif;
}

body {
  font-family: var(--body-font-family);
}

h1 {
  color: var(--branding-color);
  font-family: var(--heading-font-family);
  font-size: 60px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 250px;
  border: 1px solid blueviolet;
}

.hero p {
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: 18px;
}

.btn-branding {
  background: var(--branding-color);
  color: white;
  font-family: var(--heading-font-family);
  border-radius: 4px;
  line-height: 20px;
  padding: 10px 20px;
}

.btn-branding hover {
  color: white;
}
