:root {
  --branding-color: blueviolet;
  --secondary-color: #f9f7fe;
  --text-color: #c5c5c5;
  --heading-font-family: "Marcellus", serif;
  --body-font-family: "Ubuntu", sans-serif;
}

body {
  font-family: var(--body-font-family);
}

h1 {
  color: var(--branding-color);
  font-family: var(--heading-font-family);
  font-size: 60px;
}

h2 {
  color: var(--branding-color);
  font-family: var(--heading-font-family);
  font-size: 43px;
}

p {
  font-size: 15px;
  line-height: 25px;
  color: var(--text-color);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 185px 0;
}

.hero p {
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: 18px;
}

.sub-headline {
  font-size: 19px;
  padding: 20px;
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 960px) {
.project-description{
  padding: 0;
  text-align: center;
}

h2 {
  font-size: 35px;
}

.hero {
  padding: 80px 20px;
}

.hero h1, p, a {
  margin: 8px;
}
}

.btn-branding {
  background: var(--branding-color);
  color: white;
  font-family: var(--heading-font-family);
  border-radius: 4px;
  line-height: 20px;
  padding: 10px 20px;
}

.btn-branding hover {
  color: white;
}

.btn-branding-outline {
  line-height: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  color: var(--text-color);
  border: 1px solid var(--branding-color);
}
